form{
    background-color: rgb(217, 231, 217);
}
legend{
    font-size: 30px;
}
fieldset{
    margin: 30px 10px ;
}
input[type=text]:focus{
    background-color: rgb(151, 109, 109);
    font-weight: bold;
    text-transform: uppercase;
}
input[type=text]{
    height: 30px;
    margin: 10px;
    border: none;
    border-bottom: 2px inset black;
}
input[type=]{
    text-align: center;
}
div.labl{
    float: left;
    width: 5%;
    margin-top: 5px;
}
div.textar{
    float: left;
    width: 95%;   
}
.adds::after{
    content: "";
    display: table;
    clear: both;
}
#select{
    margin-right: 20px;
}
#stu{
    margin-left:10px;
}
div.btn{
    margin: auto;
    width: 50%;
    padding: 10px;
    justify-content: center;
    text-align: center;
}
input[type=submit], input[type=reset] {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
} 
input[type=submit]{
    background-color: #04AA6D;
}
input[type=reset] {
    background-color: rgb(158, 7, 7);
}
.marg{
    margin-left: 15px;
}
